@import "../../styles/variables.scss";

.section {
  background-image: url("../../assets/zyro-image (1) 1.png");
  .title {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 10px;
    padding: 0 80px 12px;
  }
  .offers__boxs {
    display: flex;
    gap: 125px;
    .box {
      flex: 1;
      padding: 22px 34px 30px;
      border-radius: 20px;
      background-color: $pure__white;
      color: $dark__blue;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .box__title {
        font-size: $ft__36;
        font-weight: $ft__w__bold;
        margin-bottom: 12px;
        font-family: $Poppins__font__family;
      }
      .offer__desc {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
        .desc {
          font-size: $ft__25;
          font-weight: $ft__w__regular;
          padding-right: 18px;
          line-height: 38px;
          span {
            background: linear-gradient(90deg, #5b21b6 0%, #c70025 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
      .percentage {
        margin-top: 17px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .percentage__box {
          width: fit-content;
          width: 200px;
          background-color: #7cd3ef;
          text-align: center;
          background-image: url("../../assets/Background.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          color: $pure__white;
          border-radius: 30px;
          padding: 18px 37px;
          min-height: 187px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          // background: linear-gradient(
          //   45deg,
          //   rgba(255, 154, 209, 1) 0%,
          //   rgba(255, 23, 106, 1) 100%
          // );
          > div {
            font-family: $Poppins__font__family;
            font-weight: $ft__w__bold;
            font-size: $ft__60;
            text-align: center;
          }
          > span {
            font-size: $ft__25;
            font-weight: $ft__w__regular;
          }
        }
      }
    }
  }
  .free__content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    gap: 22px;
    a {
      flex: 1;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .free__box {
      padding: 16px 22px;
      margin: 45px auto 0;
      border-radius: 20px;
      background-color: $dark__blue;
      width: fit-content;
      text-align: center;
      p {
        white-space: pre;
        font-family: $Poppins__font__family;
        font-size: $ft__36;
        font-weight: $ft__w__bold;
        padding: 0 20px;
        padding-bottom: 12px;
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 13px;
        .red {
          color: $strong__red;
        }
        .yellow {
          color: $orange__peel;
        }
      }
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        font-family: $Poppins__font__family;
        font-size: $ft__23;
        font-weight: $ft__w__bold;
        .icon {
          font-size: 28px;
        }
      }
    }
  }
}
