.section__form {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  .form {
    max-width: 600px;
    flex: 1;
  }
  .check__box__list,
  .check__box {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: flex-start;
    .check__box__list {
      flex: 1;
    }
  }
  button {
    margin-left: auto;
  }
}
.models {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  .model__p {
    font-size: 18px;
    line-height: 34px;
    padding: 14px 20px;
    background-color: #aaaaaa2d;
    border-radius: 4px;
    backdrop-filter: blur(10px);
    color: #fff;
  }
}
@media (max-width: 767px) {
  .section__form {
    flex-direction: column;
    .check__box__list,
    .check__box {
      row-gap: 20px;
    }
  }
}
