.page {
  // background-image: url("../../assets/pricing.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    padding: 50px 0;
    .header {
      display: flex;
      align-items: center;
      position: relative;
      > h2 {
        max-width: 80%;
        margin: 0 auto;
        padding: 0 85px;
        padding-bottom: 18px;
        border-bottom: 1px solid #ffffff7a;
        flex: 1;
      }
      .back__btn {
        font-size: 50px;
        display: flex;
        align-items: center;
      }
    }
    > h2 {
      width: 1000px;
      max-width: 80%;
      margin: 0 auto;
      padding: 0 85px;
      padding-top: 18px !important;
      border-top: 1px solid #ffffff7a;
      font-size: 28px;
      line-height: 38px;
    }
    .list {
      margin: 40px auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 32px;
    }
  }
}
@media (max-width: 1199px) {
  .page {
    .content {
      .header > h2,
      > h2 {
        max-width: 100%;
      }
      .list {
        gap: 20px;
      }
    }
  }
}
@media (max-width: 991px) {
  .page {
    .content {
      .header > h2,
      > h2 {
        padding: 0 64px 18px;
      }
      .list {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
      }
    }
  }
}
@media (max-width: 767px) {
  .page {
    .content {
      .header > h2,
      > h2 {
        padding: 0 16px 18px;
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 582px) {
  .page {
    .content {
      padding: 30px 0;
      .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
        .back__btn {
          font-size: 30px;
        }
      }
      .list {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
