@import "../../styles/variables.scss";

.textarea,
.input {
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
  padding: 0 18px;
  color: $dark__blue;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  textarea,
  input {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
  }
  &.error {
    margin-bottom: 10px;
  }
  .error__message {
    position: absolute;
    bottom: -21px;
    font-size: 13px;
    text-align: center;
    left: 10px;
    color: red;
  }
}
.textarea {
  min-height: 300px;
  width: auto;
  display: block;
  padding-top: 24px;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 1399px) {
  .input {
    input {
      font-size: 18px;
    }
  }
  .textarea {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .input {
    input {
      font-size: 16px;
    }
  }
  .textarea {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .textarea,
  .input {
    border-radius: 10px;
    height: 54px;
  }
}
