@import "../../styles/variables.scss";

.page {
  .title__header {
    font-size: $ft__32;
    font-weight: $ft__w__bold;
    font-family: $Poppins__font__family;
    span {
      font-weight: $ft__w__regular;
    }
  }
  .platform__section {
    max-width: 800px;
    .platform__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      .platform__title {
        font-size: $ft__25;
        font-weight: $ft__w__bold;
      }
      .add__new {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 12px 16px;
        border-radius: 10px;
        border: 2px solid #fff;
        .icon {
          font-size: 34px;
        }
      }
    }
    .platform__list {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    &:first-of-type {
      margin-bottom: 80px;
    }
  }
}
