@import "../../styles/variables.scss";

.page {
  .header {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
    .title {
      font-size: $ft__32;
      font-weight: $ft__w__regular;
      font-family: $Poppins__font__family;
      span {
        font-weight: $ft__w__bold;
      }
    }
  }
}
