@import "../../styles/variables.scss";

.accordion {
  padding: 24px 0;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  .accordion__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cell {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 12px;
      min-width: 170px;
      border-right: 1px solid #c4c4c4;
      min-height: 100px;
      font-size: $ft__20;
      font-weight: $ft__w__bold;
      gap: 10px;
      flex-direction: column;
      &.base__info {
        flex: 3;
        justify-content: flex-start;
        flex-direction: row;
        .image {
          width: 100px;
          height: 100px;
          border-radius: 20px;
          overflow: hidden;
          display: block;
          margin-right: 10px;
          border: 2px solid #fff;
        }
      }
      &.complete {
        flex-direction: row;
        position: relative;
        flex: 2.15;
        gap: 24px;
        .barns {
          width: 120px;
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          align-items: center;
          span {
            position: relative;
            width: 100%;
            text-align: center;
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: -20px;
              transform: translateY(-50%);
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #00a959;
            }
          }
        }
        a {
          background-color: #7b63ab;
          border-radius: 14px;
          height: 45px;
          width: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      > button {
        font-weight: $ft__w__regular;
        width: 100%;
        background-color: $strong__red;
        text-align: center;
        text-align: center;
        height: 50px;
        border-radius: 15px;
      }
      &.gray {
        button {
          background-color: #6f6f6f;
        }
      }
      &.purple {
        button {
          background-color: #7b63ab;
        }
      }
      &.green {
        min-width: 300px;
        button {
          background-color: #00a959;
        }
      }
    }
    .drop__icon {
      cursor: pointer;
      padding: 0 20px;
      transition: 0.3s ease-in-out;
      height: 70px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.open {
        transform: rotate(180deg);
      }
    }
  }
  .acc__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    border-top: 1px solid #c4c4c4;
    padding: 24px 0 0;
    margin-top: 24px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 62px;
      width: 2px;
      height: calc(100% - 24px);
      background-color: #fff;
      z-index: -1;
    }
  }
}
.desc {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 650px;
  max-width: 100%;
  p {
    font-size: 30px;
    span {
      color: $strong__red;
    }
  }
}
.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  button {
    flex: 1;
    border-radius: 15px;
  }
}
