// ============ COLORS =============
$pure__white: #ffffff;
$strong__red: #c70025;
$dark__blue: #140e18;
$orange__peel: #f59e0b;
// ======================================
// ============ FONT FAMILY =============
$Noto__font__family: "Noto Sans", sans-serif;
$Poppins__font__family: "Poppins", sans-serif;

// ======================================
// ============ FONT SIZES =============
$ft__16: 16px;
$ft__18: 18px;
$ft__20: 20px;
$ft__22: 22px;
$ft__23: 23px;
// $ft__25: 25px;
$ft__25: 24px;
$ft__27: 27px;
$ft__30: 30px;
$ft__34: 34px;
$ft__36: 36px;
$ft__60: 60px;
// ======================================
// ============ FONT WEIGHTS =============
$ft__w__light: 300;
$ft__w__regular: 400;
$ft__w__medium: 500;
$ft__w__semiBold: 600;
$ft__w__bold: 700;
$ft__w__extraBold: 800;
$ft__w__black: 900;
