.header {
  margin-bottom: 32px;
  .nav {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    .header__links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 24px;
      white-space: pre;
      margin-left: auto;
      span {
        flex: 1;
        text-align: right;
        display: block;
        padding: 10px 20px;
        &:first-of-type {
          border-right: 1px solid #fff;
        }
      }
    }
  }
}
@media (max-width: 1399px) {
  .header {
    .nav {
      .header__links {
        font-size: 20px;
        span {
          padding: 8px 14px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .header {
    .nav {
      .header__links {
        font-size: 16px;
        span {
          padding: 8px 14px;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .header {
    .nav {
      flex-wrap: wrap;
      gap: 10px;
      flex-direction: column-reverse;
      .header__links {
        width: fit-content;
        justify-content: flex-end;
        // order: -1;
        span {
          width: fit-content;
          flex: none;
        }
      }
    }
  }
}
// @media (max-width: 575px) {
//   .header {
//     .nav {
//       flex-direction: column-reverse;
//     }
//   }
// }
