@import "../../styles/variables.scss";

.page {
  .title__header {
    font-size: $ft__32;
    font-weight: $ft__w__bold;
    font-family: $Poppins__font__family;
    span {
      font-weight: $ft__w__regular;
    }
  }
  .content {
    .title {
      font-family: $Poppins__font__family;
      font-size: $ft__27;
      font-weight: $ft__w__regular;
      margin-bottom: 16px;
    }
    .information {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 32px;
      .card {
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 20px 24px;
        border-radius: 20px;
        border: 1px solid #ffff;
        width: 360px;
        max-width: 100%;
        > div {
          display: flex;
          flex-direction: column;
          row-gap: 6px;
          font-size: $ft__20;
        }
      }
      .list {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        font-size: $ft__20;
      }
      > a {
        min-width: 210px;
        max-width: 100%;
      }
    }
    .accounts__list {
      display: flex;
      flex-direction: column;
      border-top: 1px solid #d9d9d9;
      .account__box {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        padding: 14px 60px;
        border-bottom: 1px solid #d9d9d9;
        font-family: $Poppins__font__family;
        font-weight: $ft__w__regular;
        font-size: $ft__20;
        > span > a {
          width: 230px;
          max-width: 100%;
          font-family: $Poppins__font__family;
          font-weight: $ft__w__regular;
          font-size: $ft__20;
          height: 40px;
          padding: 4px 10px;
          border-radius: 8px;
        }
      }
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;
      font-size: $ft__20;
      font-family: $Poppins__font__family;
      padding-right: 60px;
      a {
        padding-bottom: 1px;
        border-bottom: 1px solid #d9d9d9;
      }
    }
  }
}
