.child__body {
  padding: 34px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .child__body {
    padding: 20px;
  }
}
@media (max-width: 575px) {
  .child__body {
    padding: 20px 0;
  }
}
