@import "../../styles/variables.scss";

.header {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 22px 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: $ft__w__bold;
  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    .logo {
      width: 315px;
      height: 100%;
      display: flex;
      align-items: center;
      .logo__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .links__list,
    .left__nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 57px;
    }
  }
  .toggle__menu {
    display: none;
  }
  .logout__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 56px;
  }
}
@media (max-width: 1399px) {
  .header {
    .nav {
      height: 60px;
      .logo {
        width: 180px;
      }
      .links__list,
      .left__nav {
        font-size: $ft__16;
        gap: 36px;
      }
    }
  }
}
@media (max-width: 991px) {
  .header {
    padding: 16px 18px 0;
    .nav {
      height: 52px;
      .logo {
        width: 140px;
      }
      .links__list,
      .left__nav {
        gap: 28px;
      }
    }
  }
}
@media (max-width: 767px) {
  .header {
    .toggle__menu {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $pure__white;
    }
    .nav {
      position: relative;
      .links__list {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: $pure__white;
        color: $dark__blue;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0;
        border-radius: 10px;
        transform: translateY(-150%);
        transition: 0.3s ease-in-out;
        &.open {
          transform: translateY(0);
        }
        li {
          padding: 20px;
          width: 100%;
          text-align: center;
          &:not(:last-child) {
            border-bottom: 1px solid #ccc;
          }
        }
      }
    }
  }
}
