@import "../../styles/variables.scss";

.section {
  background-image: url("../../assets/contact.png");
  padding: 150px 0;
  h2 {
    > div {
      margin-bottom: 14px;
    }
  }
  .contact__form {
    width: 522px;
    max-width: 100%;
    margin: 32px auto 0;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    .first__inputs {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 18px;
    }
    .submit__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 29px;
      border-radius: 15px;
      background-color: $strong__red;
      font-weight: $ft__w__bold;
      text-transform: capitalize;
      width: fit-content;
      margin-left: auto;
    }
  }
}
