.checkbox {
  display: flex;
  align-items: center;
  gap: 24px;
  label {
    cursor: pointer;
  }
  .label__text {
    font-size: 20px;
  }
  input {
    display: none;
  }
  .checkbox__label {
    display: block;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      display: none;
      flex-shrink: 0;
      font-size: 24px;
    }
  }
  input:checked {
    & + .checkbox__label {
      .icon {
        display: block;
      }
    }
  }
}
@media (max-width: 1399px) {
  .checkbox {
    gap: 16px;
    .checkbox__label {
      width: 20px;
      height: 20px;
      border: 2px solid #fff;
    }
    .label__text {
      font-size: 16px;
    }
  }
}
@media (max-width: 767px) {
  .checkbox {
    .label__text {
      font-size: 14px;
    }
  }
}
