@import "../../styles/variables.scss";

.form {
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 34px;
  .input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 26px;
    gap: 24px;
    &:first-of-type {
      align-items: center;
    }
    &:last-of-type {
      margin-bottom: 0;
      align-items: center;
    }
    label {
      width: 200px;
      flex-shrink: 0;
    }
    textarea {
      width: 100%;
    }
  }
  .submit {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    margin-left: 224px;
    button {
      white-space: nowrap;
      flex-shrink: 0;
    }
    p {
      font-size: $ft__20;
      span {
        font-weight: $ft__w__bold;
      }
    }
  }
}
@media (max-width: 1199px) {
  .form {
    padding: 18px;
    margin-bottom: 0;
    .input {
      margin-bottom: 20px;
      label {
        width: 100px;
        font-size: 16px;
      }
      textarea,
      input {
        font-size: 16px !important;
      }
    }
    .submit {
      display: flex;
      gap: 10px;
      margin-bottom: 24px;
      margin-left: 120px;
      button {
        font-size: 16px;
      }
      p {
        font-size: $ft__16;
      }
    }
  }
}
@media (max-width: 575px) {
  .form {
    .submit {
      flex-direction: column;
    }
  }
}
@media (max-width: 767px) {
  .form {
    .input {
      margin-bottom: 20px;
      flex-direction: column;
      align-items: flex-start !important;
      gap: 10px;
      flex: 1;
      width: 100%;
      textarea,
      input {
        flex: 1;
        flex-basis: 100%;
        width: auto;
      }
    }
    .submit {
      gap: 10px;
      margin-bottom: 20px;
      margin-left: 0;
    }
  }
}
